/*MAJOR*/

body {
    height: 100%;
    padding: 0;
}

.p-0 {
    padding: 0;
}

.bg {
    background-color: dimgray;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/****************************************/

/*header*/

#header {
    box-shadow: 0px 5px 15px #8C8F97;
    /* Тень */
    padding: 5px;
    /* Поля вокруг текста */
    border-bottom-left-radius: 5px;
    /* Радиус скругления */
    border-bottom-right-radius: 5px;
    /* Радиус скругления */
}

@media screen and (max-width: 1500px) {
    .emblem {
        width : 30px;
        height : 30px;
    }
}


@media screen and (max-width: 1100px) {
    .emblem {
        width: 0;
        height: 0;
    }
    .navbar-brand {
        width: 0;
        height: 0;
    }
}

#hour,
#minute {
    font-size: 40px;
    font-weight: bold;
    color: #90949E;
}

#second {
    font-size: 40px;
    color: #90949E;

}

#emblem {
    width: 45px;
    height: 45px;
    box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 10px;
    background: #F2F1E9;
}

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,800,800italic,900,900italic);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.social-container {
    width: 20%;
    margin-top: 0.5%;
    text-align: center;
    color: #000;
}

.social-icons {
    padding: 0;
    list-style: none;
}

.social-icons li {
    display: inline-block;
    margin-right: 4px;
    position: relative;
    font-size: 1.2em;
}

.social-icons i {
    color: #fff;
    position: absolute;
    top: 15px;
    left: -7px;
    transition: all 265ms ease-out;
}

.social-icons a {
    display: inline-block;
}

.social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 45px;
    height: 45px;
    border: 1px solid;
    border-color: #fff;
    border-radius: 100%;
    display: block;
    transition: all 265ms ease-out;
}

.social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
}

.social-icons a:hover i {
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    border-style: none;
    transition: all 265ms ease-in;
}

.container {
    width: 100%;
}


@media screen and (max-width: 1700px) {
    #containerForClock {
        width: 250px;
        margin-right: -15%;
    }
}

@media screen and (max-width: 1100px) {
    #containerForClock {
        width: 300px;
        margin-right: 10%;
    }
}

@import url('https://fonts.googleapis.com/css?family=Roboto');


/********************************************************************************************************/

/*********************************************CONTENT1700px**********************************************/

/********************************************************************************************************/

@media screen and (max-width: 1700px) {

    .main-menu:hover,
    nav.main-menu.expanded {
        width: 160px;
        overflow: visible;
    }

    .main-menu {
        background: #343a40;
        border-right: 1px solid #e5e5e5;
        border: 2px solid grey;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        top: 0;
        bottom: 0;
        margin-top: 6%;
        height: 350px;
        left: 0;
        width: 60px;
        overflow: hidden;
        -webkit-transition: width .05s linear;
        transition: width .05s linear;
        -webkit-transform: translateZ(0) scale(1, 1);
        z-index: 1000;
        box-shadow: 0 8px 8px 5px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }


    .main-menu > ul {
        margin: 7px 0;
    }

    .main-menu li {
        position: relative;
        display: block;
        width: 155px;
    }

    .main-menu li > a {
        position: relative;
        display: table;
        border-collapse: collapse;
        border-spacing: 0;
        color: #A8ABB4;
        font-family: arial;
        font-size: 14px;
        text-decoration: none;
        -webkit-transform: translateZ(0) scale(1, 1);
        -webkit-transition: all .1s linear;
        transition: all .1s linear;
    }

    .main-menu .nav-icon {
        position: relative;
        display: table-cell;
        width: 60px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size: 18px;
    }

    .main-menu .nav-text {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        width: 145px;
        font-family: 'Titillium Web', sans-serif;
    }

    .main-menu > ul.logout {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .no-touch .scrollable.hover {
        overflow-y: hidden;
    }

    .no-touch .scrollable.hover:hover {
        overflow-y: auto;
        overflow: visible;
    }

    a:hover,
    a:focus {
        text-decoration: none;
    }

    nav {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    nav ul,
    nav li {
        outline: 0;
        margin: 0;
        padding: 0;
    }
    .main-menu li:hover > a,
    nav.main-menu li.active > a,
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus,
    .dropdown-menu > .active > a,
    .dropdown-menu > .active > a:hover,
    .dropdown-menu > .active > a:focus,
    .no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
    .dashboard-page nav.dashboard-menu ul li.active a {
        color: #fff;
        height: 35px;
        margin-left: 5%;
        background-color: #5da4d9;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }


    @font-face {
        font-family: 'Titillium Web';
        font-style: normal;
        font-weight: 300;
        src: local('Titillium WebLight'), local('TitillaiumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');

    }


    html .content,
    body .content {
        text-align: center;
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        font-family: 'Bowlby One', cursive;
        font-size: 28px;
        color: white;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }
    html .content span,
    body .content span {
        width: 30px;
        display: inline-block;
    }





}

/********************************************************************************************************/

/*********************************************CONTENT1200px**********************************************/

/********************************************************************************************************/

@media screen and (max-width: 1200px) {

    .main-menu:hover,
    nav.main-menu.expanded {
        width: 160px;
        overflow: visible;
    }

    .main-menu {
        background: #343a40;
        border-right: 1px solid #e5e5e5;
        border: 2px solid grey;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        top: 0;
        bottom: 0;
        margin-top: 6%;
        height: 350px;
        left: 0;
        width: 60px;
        overflow: hidden;
        -webkit-transition: width .05s linear;
        transition: width .05s linear;
        -webkit-transform: translateZ(0) scale(1, 1);
        z-index: 1000;
        box-shadow: 0 8px 8px 5px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }


    .main-menu > ul {
        margin: 7px 0;
    }

    .main-menu li {
        position: relative;
        display: block;
        width: 155px;
    }

    .main-menu li > a {
        position: relative;
        display: table;
        border-collapse: collapse;
        border-spacing: 0;
        color: #A8ABB4;
        font-family: arial;
        font-size: 14px;
        text-decoration: none;
        -webkit-transform: translateZ(0) scale(1, 1);
        -webkit-transition: all .1s linear;
        transition: all .1s linear;
    }

    .main-menu .nav-icon {
        position: relative;
        display: table-cell;
        width: 60px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size: 18px;
    }

    .main-menu .nav-text {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        width: 145px;
        font-family: 'Titillium Web', sans-serif;
    }

    .main-menu > ul.logout {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .no-touch .scrollable.hover {
        overflow-y: hidden;
    }

    .no-touch .scrollable.hover:hover {
        overflow-y: auto;
        overflow: visible;
    }

    a:hover,
    a:focus {
        text-decoration: none;
    }

    nav {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    nav ul,
    nav li {
        outline: 0;
        margin: 0;
        padding: 0;
    }
    .main-menu li:hover > a,
    nav.main-menu li.active > a,
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus,
    .dropdown-menu > .active > a,
    .dropdown-menu > .active > a:hover,
    .dropdown-menu > .active > a:focus,
    .no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
    .dashboard-page nav.dashboard-menu ul li.active a {
        color: #fff;
        height: 35px;
        margin-left: 5%;
        background-color: #5da4d9;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }


    @font-face {
        font-family: 'Titillium Web';
        font-style: normal;
        font-weight: 300;
        src: local('Titillium WebLight'), local('TitillaiumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');

    }

}

/********************************************************************************************************/

/*********************************************CONTENT300px**********************************************/

/********************************************************************************************************/

@media screen and (max-width: 300px) {

    .main-menu:hover,
    nav.main-menu.expanded {
        width: 160px;
        overflow: visible;
    }

    .main-menu {
        background: #343a40;
        border-right: 1px solid #e5e5e5;
        border: 2px solid grey;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        top: 0;
        bottom: 0;
        margin-top: 6%;
        height: 350px;
        left: 0;
        width: 60px;
        overflow: hidden;
        -webkit-transition: width .05s linear;
        transition: width .05s linear;
        -webkit-transform: translateZ(0) scale(1, 1);
        z-index: 1000;
        box-shadow: 0 8px 8px 5px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }



    .main-menu > ul {
        margin: 7px 0;
    }

    .main-menu li {
        position: relative;
        display: block;
        width: 155px;
    }

    .main-menu li > a {
        position: relative;
        display: table;
        border-collapse: collapse;
        border-spacing: 0;
        color: #A8ABB4;
        font-family: arial;
        font-size: 14px;
        text-decoration: none;
        -webkit-transform: translateZ(0) scale(1, 1);
        -webkit-transition: all .1s linear;
        transition: all .1s linear;
    }

    .main-menu .nav-icon {
        position: relative;
        display: table-cell;
        width: 60px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size: 18px;
    }

    .main-menu .nav-text {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        width: 145px;
        font-family: 'Titillium Web', sans-serif;
    }

    .main-menu > ul.logout {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .no-touch .scrollable.hover {
        overflow-y: hidden;
    }

    .no-touch .scrollable.hover:hover {
        overflow-y: auto;
        overflow: visible;
    }

    a:hover,
    a:focus {
        text-decoration: none;
    }

    nav {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    nav ul,
    nav li {
        outline: 0;
        margin: 0;
        padding: 0;
    }
    .main-menu li:hover > a,
    nav.main-menu li.active > a,
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus,
    .dropdown-menu > .active > a,
    .dropdown-menu > .active > a:hover,
    .dropdown-menu > .active > a:focus,
    .no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
    .dashboard-page nav.dashboard-menu ul li.active a {
        color: #fff;
        height: 35px;
        margin-left: 5%;
        background-color: #5da4d9;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }


    @font-face {
        font-family: 'Titillium Web';
        font-style: normal;
        font-weight: 300;
        src: local('Titillium WebLight'), local('TitillaiumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');

    }
    html .content,
    body .content {
        text-align: center;
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        font-family: 'Bowlby One', cursive;
        font-size: 15px;
        color: white;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }
    html .content span,
    body .content span {
        width: 22px;
        display: inline-block;
    }



}

/********************************************************************************************************/

/************************************************FOOTER**************************************************/

/********************************************************************************************************/

.myfooter {
    padding: 50px 0 20px 0;
    background-color: #35404f;
    color: #878c94;
}

.myfooter .title-widget {
    text-align: left;
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    line-height: 1;
    position: relative;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 25px;
    margin-left: 0;
    padding-left: 28px;
}

.myfooter .title-widget::before {
    background-color: #ea5644;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}

.myfooter .social-icon {
    padding: 0px;
    margin: 0px;
}

.myfooter .social-icon a {
    display: inline-block;
    color: #fff;
    font-size: 25px;
    padding: 5px;
}

.myfooter .acount-icon a {
    display: block;
    color: #fff;
    font-size: 18px;
    padding: 5px;
    text-decoration: none;
}

.myfooter .acount-icon .fa {
    margin-right: 25px;
}


.myfooter .category a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    margin: 1px;
    border-radius: 4px;
    margin-top: 6px;
    background-color: black;
    border: solid 1px #fff;
}

.myfooter ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}

.myfooter ul.social {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

.myfooter ul.social li {
    display: inline;
}

.myfooter .social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}

.myfooter .social a:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}

.myfooter .social a.icoYouTube:hover {
    background-color: #F56505;
}

.myfooter .social a.icoFacebook:hover {
    background-color: #3B5998;
}

.myfooter .social a.icoInstagram:hover {
    background-color: #33ccff;
}

.myfooter .social a.icoGoogle:hover {
    background-color: #BD3518;
}

.myfooter .social a.icoVimeo:hover {
    background-color: #0590B8;
}

.myfooter .social a.icoLinkedin:hover {
    background-color: #007bb7;
}

.myfooter .social a.icoRss:hover i,
.myfooter .social a.icoFacebook:hover i,
.myfooter .social a.icoTwitter:hover i,
.myfooter .social a.icoGoogle:hover i,
.myfooter .social a.icoVimeo:hover i,
.myfooter .social a.icoLinkedin:hover i {
    color: #fff;
}

a.myfooter .socialIcon:hover,
.myfooter .socialHoverClass {
    color: #44BCDD;
}

.myfooter .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

.myfooter .social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.myfooter .social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.myfooter .social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

#creatorText {
    margin-left: 30%;
}

/*****************************************************************************************************************/

/*********************************************FOOTER_last_block_1700**********************************************/

/*****************************************************************************************************************/

@media screen and (max-width: 1700px) {

    .post-it {
        width: 250px;
        height: 200px;
        position: relative;
        background: #636776;
        overflow: hidden;
        margin: 10px auto;
        text-align: left;
        padding: 20px;
        border-radius: 0 0 0 30px/45px;
        box-shadow: inset 0 -80px 60px rgba(0, 0, 0, 0.2),
        inset 0 55px 30px rgba(0, 0, 0, 0.2),
        0 5px 6px 5px rgba(0, 0, 0, 0.2);
        font-family: 'Permanent Marker', cursive;
        line-height: 1.5em;
        font-size: 19px;
        color: #D0D3DD;
    }
    @import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

    h1 {
        font-size: 25px;
        position: relative;
    }

  
    #input {
        width: 130px;
        height: 37px;
        margin-top: 8%;
        color: black;
        background-color: #D7D9DF;

    }

    #input2 {
        width: 130px;
        height: 37px;
        margin-top: 2%;
        color: black;
        background-color: #D7D9DF;

    }


    #blocksOfFooter span a i {
        margin-top: 1%;
        margin-right: -2%;
        text-align: center;

    }

    .block2FooterTextAfterFa {
        margin-top: -2%;
    }

}

/*****************************************************************************************************************/

/*********************************************FOOTER_last_block_800**********************************************/

/*****************************************************************************************************************/

@media screen and (max-width: 800px) {

    @import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

    #navbarSupportedContent {
        margin-left: 35px;
    }

    .post-it {
        width: 230px;
        height: 200px;
        position: relative;
        background: #636776;
        overflow: hidden;
        margin: 30px auto;
        padding: 20px;
        border-radius: 0 0 0 30px/45px;
        box-shadow: inset 0 -80px 60px rgba(0, 0, 0, 0.2),
        inset 0 55px 30px rgba(0, 0, 0, 0.2),
        0 5px 6px 5px rgba(0, 0, 0, 0.2);
        font-family: 'Permanent Marker', cursive;
        line-height: 1.5em;
        font-size: 19px;
        color: #D0D3DD;
    }

    .post-it li {
        cursor: pointer;
    }

    .done {
        text-decoration: line-through;
    }

    h1 {
        font-size: 25px;
        position: relative;
    }

    
    #input {
        width: 130px;
        height: 37px;
        margin-top: 8%;
        color: black;
        background-color: #D7D9DF;

    }

    #input2 {
        width: 130px;
        height: 37px;
        margin-top: 2%;
        color: black;
        background-color: #D7D9DF;

    }


    #blocksOfFooter {
        margin-bottom: 3%;
    }



    .post-it {
        margin-left: 0%;
    }

    #addBlockForFooter {
        margin-left: -4%;
    }

}

#creatorText {
    margin-left: 35%;
}

.fa-2x {
    font-size: 2em;
}

.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}



@media screen and (max-width: 1700px) {
    #footerBtnFlex{
        display: flex;
        flex-direction: row;
    }
    
    #searchBtn{
        width: 100px;
    }

    #removeAllBtn{
        width: 100px;
        margin-left: 3%;
    }
    
}

@media screen and (max-width: 1050px) {
    #footerBtnFlex{
        display: flex;
        flex-direction: column;
    }
    
    #removeAllBtn {
        margin-top: 5%;
    }
}

@media screen and (max-width: 600px) {
    #footerBtnFlex{
        display: flex;
        flex-direction: row;
    }
    
      #removeAllBtn {
        margin-top: 0%;
    }
}


#textAreaFooter{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}



@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
