body {
    height: 100%;
    padding: 0;
}

.p-0 {
    padding: 0;
}

.bg {
    background-color: dimgray;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/****************************************/

/*header*/

#header {
    box-shadow: 0px 5px 15px #8C8F97;
    /* Тень */
    padding: 5px;
    /* Поля вокруг текста */
    border-bottom-left-radius: 5px;
    /* Радиус скругления */
    border-bottom-right-radius: 5px;
    /* Радиус скругления */
}

@media screen and (max-width: 1500px) {
    .emblem {
        width: 30px;
        height : 30px;
    }
}


@media screen and (max-width: 1100px) {
    .emblem {
        width: 0;
        height: 0;
    }
    .navbar-brand {
        width: 0;
        height: 0;
    }
}

#hour,
#minute {
    font-size: 40px;
    font-weight: bold;
    color: #90949E;
}

#second {
    font-size: 40px;
    color: #90949E;

}

#emblem {
    width: 45px;
    height: 45px;
    box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 10px;
    background: #F2F1E9;
}

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,800,800italic,900,900italic);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.social-container {
    width: 20%;
    margin-top: 0.5%;
    text-align: center;
    color: #000;
}

.social-icons {
    padding: 0;
    list-style: none;
}

.social-icons li {
    display: inline-block;
    margin-right: 4px;
    position: relative;
    font-size: 1.2em;
}

.social-icons i {
    color: #fff;
    position: absolute;
    top: 15px;
    left: -7px;
    transition: all 265ms ease-out;
}

.social-icons a {
    display: inline-block;
}

.social-icons a:before {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    content: " ";
    width: 45px;
    height: 45px;
    border: 1px solid;
    border-color: #fff;
    border-radius: 100%;
    display: block;
    transition: all 265ms ease-out;
}

.social-icons a:hover:before {
    transform: scale(0);
    transition: all 265ms ease-in;
}

.social-icons a:hover i {
    transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    border-style: none;
    transition: all 265ms ease-in;
}

.container {
    width: 100%;
}


@media screen and (max-width: 1700px) {
    #containerForClock {
        width: 250px;
        margin-right: -15%;
    }
}

@media screen and (max-width: 1100px) {
    #containerForClock {
        width: 300px;
        margin-right: 10%;
    }
}

@import url('https://fonts.googleapis.com/css?family=Roboto');


/********************************************************************************************************/

/*********************************************CONTENT1700px**********************************************/

/********************************************************************************************************/

@media screen and (max-width: 1700px) {
    
    #listTitle{
        font-weight: bold;
        font-size: 40px;
    }
    
    #contentFlex{
        display: flex;
        flex-direction: row;
    }
    
    #contentFlex{
        height: 800px;
    }
    
    #removeAllBtn{
        margin-left: 30%;
        box-shadow: 0px 1px 5px rgba(0, 0, 1, 1.1);
    }
    
    #taskManager{
        display: flex;
        flex-direction: row;
    }

    .main-menu:hover,
    nav.main-menu.expanded {
        width: 160px;
        overflow: visible;
    }

    .main-menu {
        background: #343a40;
        border-right: 1px solid #e5e5e5;
        border: 2px solid grey;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        top: 0;
        bottom: 0;
        margin-top: 30px;
        height: 350px;
        left: 0;
        width: 60px;
        overflow: hidden;
        -webkit-transition: width .05s linear;
        transition: width .05s linear;
        -webkit-transform: translateZ(0) scale(1, 1);
        z-index: 1000;
        box-shadow: 0 8px 8px 5px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }

    .main-menu > ul {
        margin: 7px 0;
    }

    .main-menu li {
        position: relative;
        display: block;
        width: 155px;
    }

    .main-menu li > a {
        position: relative;
        display: table;
        border-collapse: collapse;
        border-spacing: 0;
        color: #A8ABB4;
        font-family: arial;
        font-size: 14px;
        text-decoration: none;
        -webkit-transform: translateZ(0) scale(1, 1);
        -webkit-transition: all .1s linear;
        transition: all .1s linear;
    }

    .main-menu .nav-icon {
        position: relative;
        display: table-cell;
        width: 60px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size: 18px;
    }

    .main-menu .nav-text {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        width: 145px;
        font-family: 'Titillium Web', sans-serif;
    }

    .main-menu > ul.logout {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .no-touch .scrollable.hover {
        overflow-y: hidden;
    }

    .no-touch .scrollable.hover:hover {
        overflow-y: auto;
        overflow: visible;
    }

    a:hover,
    a:focus {
        text-decoration: none;
    }

    nav {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    nav ul,
    nav li {
        outline: 0;
        margin: 0;
        padding: 0;
    }
    .main-menu li:hover > a,
    nav.main-menu li.active > a,
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus,
    .dropdown-menu > .active > a,
    .dropdown-menu > .active > a:hover,
    .dropdown-menu > .active > a:focus,
    .no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
    .dashboard-page nav.dashboard-menu ul li.active a {
        color: #fff;
        height: 35px;
        margin-left: 5%;
        background-color: #5da4d9;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }


    @font-face {
        font-family: 'Titillium Web';
        font-style: normal;
        font-weight: 300;
        src: local('Titillium WebLight'), local('TitillaiumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');

    }


    #button {
        display: inline-block;
        height: 50px;
        width: 50px;
        font-size: 33px;
        background-color: #00B796;
        font-weight: bold;
        color: #ffffff;
        border-radius: 50px;
        text-align: center;
        cursor: pointer;
        margin-left: 10px;
    }

    .list {
        text-align: center;
    }

    .item {
        color: #fff;
        font-size: 20px;
        font-weight: 100;
        height: auto;
        width: 600px;
        background-color: #00B796;
        margin: 10px auto 10px;
        padding: 10px 10px 12px 10px;
        text-align: left;
        cursor: pointer;
        line-height: 1.2;
        transition: width 0.2s;
    }

    .item:hover {
        width: 640px;
    }

    .delete-wrap {
        height: auto;
        width: 634px;
        margin: 0px auto 0px;
        padding: 10px 10px 12px 10px;
        text-align: right;
        line-height: 1.2;
    }

    .delete {
        text-transform: uppercase;
        color: red;
        cursor: pointer;
        width: 160px;
    }

    @media (max-width: 670px) {
        input {
            width: 70%;
        }
        .item {
            width: 84%;
        }
        .item:hover {
            width: 86%;
        }
        .delete-wrap {
            width: 90%;
        }
    }

    #centralArea {
        height: 700px;
    }

    #head {
        height: 10%;

        background: #ffffff;
        width: 110%;
        position: fixed;
        top: -10px;
        left: -5px;
        right: -5px;
        z-index: 1;
        text-align: center;
        font-family: Verdana, sans-serif;
        font-size: 26px;
    }

    #rightheader {

        margin-right: 10%;
        font-size: 20px;
        color: grey;
    }
    header p {
        display: inline-block;
    }

    .substring {
        font-family: italic;
        color: inherit;
        font-size: 14px;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    #taskManager {
        width: 90%;
        height: 100%;
    }

    .pannelLeft {
        position: relative;
        top: 1%;
        bottom: 1%;
        margin-top: 6%;
        width: 30%;
        height: 30%;
        display: inline-block;
        border-radius: 10px;


    }
    .pannelRight {
        background: #C3C8CB;
        top: 1%;
        bottom: 1%;
        margin-top: 2%;
        width: 55%;
        height: 65%;
        display: inline-block;
        border-radius: 5px;
        box-shadow: 0 8px 8px 5px rgba(0, 0, 0, 0.16);
    }

    #left {
        text-align: center;
        margin-left: 10%;
        margin-top: 1%;
    }

    #right {
        width: 65%;
        height: 65%;
        text-align: center;
        overflow: scroll;
        border: 2px solid #767676;
    }

    section {
        border-radius: 0.3em;
        display: inline-block;
        width: 90%;
        height: 50%;
        margin-top: 3%;
        box-shadow: 0.5px 0.5px 1px;
        
        text-align: center;
        font-family: 'Oswald', sans-serif;

    }

    #start:hover {
        transform: scale(1.1);
    }
    #start:active {
        box-shadow: 0 0 0.5px;
        transform: scale(0.98);
    }
    section:hover {
        box-shadow: 1px 2px 4px 1px;
    }

    input {
        position: relative;
        width: 80%;
        margin: 0 10%;
        border-radius: 5px;
    }

    #task {
        background-color: #65A9C1;
        box-shadow: 0 8px 8px 5px rgba(0, 0, 0, 0.16);
    }

    #timer {
        background-color: #FFD23F;
        box-shadow: 0 8px 8px 5px rgba(0, 0, 0, 0.16);
    }

    #start {
        background-color: #5EE839;
        box-shadow: 0 8px 8px 5px rgba(0, 0, 0, 0.16);
    }

    #list {
        font-family: 'Oswald', sans-serif;
    }

    table,
    td {
        border: 5px;
        color: #000;
    }

    tr:nth-child(even) {
        background: #F2F5F6;
    }
    tr:nth-child(odd) {
        background: #9FA4A6;
    }

    table {
        width: 95%;
        font-family: sans-serif;
        margin-left: 2%;
        font-size: 22px;
    }
    #taskcell {
        width: 70%;
        text-align: left;
    }

    #taskcell:hover {
        cursor: pointer;
    }
}

/********************************************************************************************************/

/*********************************************CONTENT1200px**********************************************/

/********************************************************************************************************/

@media screen and (max-width: 1350px) {

    .main-menu:hover,
    nav.main-menu.expanded {
        width: 160px;
        overflow: visible;
    }

    .main-menu {
        background: #343a40;
        border-right: 1px solid #e5e5e5;
        border: 2px solid grey;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        top: 0;
        bottom: 0;
        margin-top: 30px;
        height: 350px;
        left: 0;
        width: 60px;
        overflow: hidden;
        -webkit-transition: width .05s linear;
        transition: width .05s linear;
        -webkit-transform: translateZ(0) scale(1, 1);
        z-index: 1000;
        box-shadow: 0 8px 8px 5px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
    .main-menu > ul {
        margin: 7px 0;
    }

    .main-menu li {
        position: relative;
        display: block;
        width: 155px;
    }

    .main-menu li > a {
        position: relative;
        display: table;
        border-collapse: collapse;
        border-spacing: 0;
        color: #A8ABB4;
        font-family: arial;
        font-size: 14px;
        text-decoration: none;
        -webkit-transform: translateZ(0) scale(1, 1);
        -webkit-transition: all .1s linear;
        transition: all .1s linear;
    }

    .main-menu .nav-icon {
        position: relative;
        display: table-cell;
        width: 60px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size: 18px;
    }

    .main-menu .nav-text {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        width: 145px;
        font-family: 'Titillium Web', sans-serif;
    }

    .main-menu > ul.logout {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .no-touch .scrollable.hover {
        overflow-y: hidden;
    }

    .no-touch .scrollable.hover:hover {
        overflow-y: auto;
        overflow: visible;
    }

    a:hover,
    a:focus {
        text-decoration: none;
    }

    nav {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    nav ul,
    nav li {
        outline: 0;
        margin: 0;
        padding: 0;
    }
    .main-menu li:hover > a,
    nav.main-menu li.active > a,
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus,
    .dropdown-menu > .active > a,
    .dropdown-menu > .active > a:hover,
    .dropdown-menu > .active > a:focus,
    .no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
    .dashboard-page nav.dashboard-menu ul li.active a {
        color: #fff;
        height: 35px;
        margin-left: 5%;
        background-color: #5da4d9;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }


    @font-face {
        font-family: 'Titillium Web';
        font-style: normal;
        font-weight: 300;
        src: local('Titillium WebLight'), local('TitillaiumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');

    }

    #centralArea {
        height: 700px;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    #taskManager {
        width: 90%;
        height: 90%;
        left: 4%;
        top: 10%;
    }

    .pannelLeft {
        position: relative;
        top: 1%;
        bottom: 1%;
        margin-top: 6%;
        width: 30%;
        height: 60%;
        display: inline-block;
        border-radius: 10px;
        font-size: 15px;

    }
    .pannelRight {
        background: #C3C8CB;
        position: relative;
        top: 1%;
        bottom: 1%;
        margin-top: 2%;
        width: 40%;
        height: 95%;
        display: inline-block;
        border-radius: 5px;
        font-size: 15px;

    }

    .text1 {
        font-size: 25px;
    }

    #left {
        text-align: center;
        margin-left: 10%;
        font-size: 10px;
    }

    #right {
        width: 55%;
        text-align: center;
        overflow: scroll;

    }

    section {
        border-radius: 0.3em;
        display: inline-block;
        width: 90%;
        height: 30%;
        margin-top: 3%;
        box-shadow: 0.5px 0.5px 1px;
        position: relative;
        text-align: center;
    }
  
    #removeAllBtn{
        margin-left: -40px;
    }

    #start {
        cursor: pointer;
    }
    #start:hover {
        transform: scale(1.10);
    }
    #start:active {
        box-shadow: 0 0 0.5px;
        transform: scale(0.98);
    }
    section:hover {
        box-shadow: 1px 2px 4px 1px;
    }

    input {
        position: relative;
        width: 80%;
        margin: 0 10%;
        border-radius: 5px;
    }

    #task {
        background-color: #65A9C1;
        box-shadow: 0 8px 8px 5px rgba(0, 0, 0, 0.16);
    }

    #timer {
        background-color: #FFD23F;
        box-shadow: 0 8px 8px 5px rgba(0, 0, 0, 0.16);
    }

    #start {
        background-color: #5EE839;
        box-shadow: 0 8px 8px 5px rgba(0, 0, 0, 0.16);
    }

    #list {
      font-family: 'Oswald', sans-serif;
    }

    table,
    td {
        border: 5px;
        color: #000;
    }

    tr:nth-child(even) {
        background: #F2F5F6;
    }
    tr:nth-child(odd) {
        background: #9FA4A6;
    }

    table {
        width: 95%;
        font-family: sans-serif;
        margin-left: 2%;
        font-size: 22px;
    }
    #taskcell {
        width: 70%;
        text-align: left;
    }

    #taskcell:hover {
        cursor: pointer;
    }



    #countdowncell {
        text-align: center;

    }

    #clicktoclose {
        cursor: pointer;
    }

    #clicktoclose:hover {
        font-weight: bold;
        transform: none;
    }
    #countdowncell {
        color: #ff3333;
        font-weight: bold;
        font-size: 20px;
    }

    #countdowncell:hover {
        cursor: pointer;
        background: #DFECF1;
        text-decoration: underline;
    }

    #countdowncell:active {
        font-weight: lighter;
    }







}

/********************************************************************************************************/

/*********************************************CONTENT600px**********************************************/

/********************************************************************************************************/

@media screen and (max-width: 600px) {

    .main-menu:hover,
    nav.main-menu.expanded {
        width: 160px;
        overflow: visible;
    }

    .main-menu {
        background: #343a40;
        border-right: 1px solid #e5e5e5;
        border: 2px solid grey;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        top: 0;
        bottom: 0;
        margin-top: 30px;
        height: 350px;
        left: 0;
        width: 60px;
        overflow: hidden;
        -webkit-transition: width .05s linear;
        transition: width .05s linear;
        -webkit-transform: translateZ(0) scale(1, 1);
        z-index: 1000;
        box-shadow: 0 8px 8px 5px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }

     #taskManager {
        width: 90%;
        height: 90%;
        margin-left: -5%;
    }

    .pannelLeft {
        top: 1%;
        bottom: 1%;
        margin-top: 6%;
        width: 100%;
        height: 60%;
        display: inline-block;
        border-radius: 10px;
        font-size: 15px;

    }
      .pannelRight {
        margin-left: -22px;
       }

    #listTitle{
        color: black;
        font-size: 15px;
    } 
    
    #left {
        text-align: center;
        margin-left: 0%;
        font-size: 10px;
        margin-bottom: 40px;
    }
    
    section {
        border-radius: 0.3em;
        display: inline-block;
        width: 90%;
        height: 30%;
        margin-top: 3%;
        box-shadow: 0.5px 0.5px 1px;
        position: relative;
        text-align: center;
    }
  
    #removeAllBtn{
        margin-left: -40px;
    }
    
    
    .main-menu > ul {
        margin: 7px 0;
    }

    .main-menu li {
        position: relative;
        display: block;
        width: 155px;
    }

    .main-menu li > a {
        position: relative;
        display: table;
        border-collapse: collapse;
        border-spacing: 0;
        color: #A8ABB4;
        font-family: arial;
        font-size: 14px;
        text-decoration: none;
        -webkit-transform: translateZ(0) scale(1, 1);
        -webkit-transition: all .1s linear;
        transition: all .1s linear;
    }

    .main-menu .nav-icon {
        position: relative;
        display: table-cell;
        width: 60px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size: 18px;
    }

    .main-menu .nav-text {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        width: 145px;
        font-family: 'Titillium Web', sans-serif;
    }

    .main-menu > ul.logout {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .no-touch .scrollable.hover {
        overflow-y: hidden;
    }

    .no-touch .scrollable.hover:hover {
        overflow-y: auto;
        overflow: visible;
    }

    a:hover,
    a:focus {
        text-decoration: none;
    }

    nav {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    nav ul,
    nav li {
        outline: 0;
        margin: 0;
        padding: 0;
    }
    .main-menu li:hover > a,
    nav.main-menu li.active > a,
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus,
    .dropdown-menu > .active > a,
    .dropdown-menu > .active > a:hover,
    .dropdown-menu > .active > a:focus,
    .no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
    .dashboard-page nav.dashboard-menu ul li.active a {
        color: #fff;
        height: 35px;
        margin-left: 5%;
        background-color: #5da4d9;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }


    @font-face {
        font-family: 'Titillium Web';
        font-style: normal;
        font-weight: 300;
        src: local('Titillium WebLight'), local('TitillaiumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');

    }

    #centralArea {
        height: 800px;
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }

   
    #start {
        cursor: pointer;
        margin-bottom: 15px;
    }
    #start:hover {
        transform: scale(1.10);
    }
    #start:active {
        box-shadow: 0 0 0.5px;
        transform: scale(0.98);
    }
    section:hover {
        box-shadow: 1px 2px 4px 1px;
    }

    input {
        position: relative;
        width: 80%;
        margin: 0 10%;
        border-radius: 5px;
    }

    #task {
        background-color: #65A9C1;
        box-shadow: 0 8px 8px 5px rgba(0, 0, 0, 0.16);
    }

    #timer {
        background-color: #FFD23F;
        box-shadow: 0 8px 8px 5px rgba(0, 0, 0, 0.16);
    }

    #start {
        background-color: #5EE839;
        box-shadow: 0 8px 8px 5px rgba(0, 0, 0, 0.16);
    }

    #list {
        font-family: 'Oswald', sans-serif;
       
    }

    table,
    td {
        border: 5px;
        color: #000;
    }

    tr:nth-child(even) {
        background: #F2F5F6;
    }
    tr:nth-child(odd) {
        background: #9FA4A6;
    }

    table {
        width: 95%;
        font-family: sans-serif;
        margin-left: 2%;
        font-size: 12px;
    }
    #taskcell {
        width: 40%;
        text-align: left;
    }

    #taskcell:hover {
        cursor: pointer;
    }



    #countdowncell {
        text-align: center;

    }

    #clicktoclose {
        cursor: pointer;
    }

    #clicktoclose:hover {
        font-weight: bold;
        transform: none;
    }
    #countdowncell {
        color: #ff3333;
        font-weight: bold;
        font-size: 12px;
    }

    #countdowncell:hover {
        cursor: pointer;
        background: #DFECF1;
        text-decoration: underline;
    }

    #countdowncell:active {
        font-weight: lighter;
    }

}

@media screen and (max-width: 300px) {

    .main-menu:hover,
    nav.main-menu.expanded {
        width: 160px;
        overflow: visible;
    }

    .main-menu {
/*        background: #343a40;*/
        background-color: aqua;
        border-right: 1px solid #e5e5e5;
        border: 2px solid grey;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        top: 0;
        bottom: 0;
        margin-top: 30px;
        height: 350px;
        left: 0;
        width: 60px;
        overflow: hidden;
        -webkit-transition: width .05s linear;
        transition: width .05s linear;
        -webkit-transform: translateZ(0) scale(1, 1);
        z-index: 1000;
        box-shadow: 0 8px 8px 5px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }


    .main-menu > ul {
        margin: 7px 0;
    }

    .main-menu li {
        position: relative;
        display: block;
        width: 155px;
    }

    .main-menu li > a {
        position: relative;
        display: table;
        border-collapse: collapse;
        border-spacing: 0;
        color: #A8ABB4;
        font-family: arial;
        font-size: 14px;
        text-decoration: none;
        -webkit-transform: translateZ(0) scale(1, 1);
        -webkit-transition: all .1s linear;
        transition: all .1s linear;
    }

    .main-menu .nav-icon {
        position: relative;
        display: table-cell;
        width: 60px;
        height: 36px;
        text-align: center;
        vertical-align: middle;
        font-size: 18px;
    }

    .main-menu .nav-text {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        width: 145px;
        font-family: 'Titillium Web', sans-serif;
    }

    .main-menu > ul.logout {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .no-touch .scrollable.hover {
        overflow-y: hidden;
    }

    .no-touch .scrollable.hover:hover {
        overflow-y: auto;
        overflow: visible;
    }

    a:hover,
    a:focus {
        text-decoration: none;
    }

    nav {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    nav ul,
    nav li {
        outline: 0;
        margin: 0;
        padding: 0;
    }
    .main-menu li:hover > a,
    nav.main-menu li.active > a,
    .dropdown-menu > li > a:hover,
    .dropdown-menu > li > a:focus,
    .dropdown-menu > .active > a,
    .dropdown-menu > .active > a:hover,
    .dropdown-menu > .active > a:focus,
    .no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
    .dashboard-page nav.dashboard-menu ul li.active a {
        color: #fff;
        height: 35px;
        margin-left: 5%;
        background-color: #5da4d9;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }


    @font-face {
        font-family: 'Titillium Web';
        font-style: normal;
        font-weight: 300;
        src: local('Titillium WebLight'), local('TitillaiumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');

    }




    #centralArea {
        height: 600px;
    }
    a {
        text-decoration: none;
        color: inherit;
    }

    #taskManager {
        width: 60%;
        height: 90%;
        left: 4%;
        top: 10%;
        margin-top: 6%;
        margin-left: 20%;
    }

    .pannelLeft {
        top: 1%;
        bottom: 1%;
        width: 50%;
        margin-top: 1%;
        height: 60%;
        display: inline-block;
        border-radius: 10px;
    }
    .pannelRight {
        background: #C3C8CB;
        top: 1%;
        bottom: 1%;
        margin-top: 2%;
        width: 40%;
        height: 95%;
        display: inline-block;
        border-radius: 5px;

    }

    #left {
        text-align: center;
    }

    #right {
        width: 50%;
        text-align: center;
        overflow: scroll;

    }

    section {
        border-radius: 0.3em;
        display: inline-block;
        width: 90%;
        height: 30%;
        margin-top: 3%;
        box-shadow: 0.5px 0.5px 1px;
        position: relative;
        text-align: center;
        font-family: 'Oswald', sans-serif;


    }

    #start {
        cursor: pointer;
        height: 30px;
    }
    #start:hover {
        transform: scale(1.10);
    }
    #start:active {
        box-shadow: 0 0 0.5px;
        transform: scale(0.98);
    }
    section:hover {
        box-shadow: 1px 2px 4px 1px;
    }

    input {
        position: relative;
        width: 80%;
        margin: 0 10%;
        border-radius: 5px;
    }

    #task {
        background-color: #65A9C1;
        box-shadow: 0 8px 8px 5px rgba(0, 0, 0, 0.16);
    }

    #timer {
        background-color: #FFD23F;
        box-shadow: 0 8px 8px 5px rgba(0, 0, 0, 0.16);
    }

    #start {
        background-color: #5EE839;
        box-shadow: 0 8px 8px 5px rgba(0, 0, 0, 0.16);
    }

    #list {
        font-family: 'Oswald', sans-serif;

    }

    table,
    td {
        border: 5px;
        color: #000;
    }

    tr:nth-child(even) {
        background: #F2F5F6;
    }
    tr:nth-child(odd) {
        background: #9FA4A6;
    }

    table {
        width: 95%;
        font-family: sans-serif;
        margin-left: 2%;
        font-size: 12px;
    }
    #taskcell {
        width: 40%;
        text-align: left;
    }

    #taskcell:hover {
        cursor: pointer;
    }



    #countdowncell {
        text-align: center;

    }

    #clicktoclose {
        cursor: pointer;
    }

    #clicktoclose:hover {
        font-weight: bold;
        transform: none;
    }
    #countdowncell {
        color: #ff3333;
        font-weight: bold;
        font-size: 12px;
    }

    #countdowncell:hover {
        cursor: pointer;
        background: #DFECF1;
        text-decoration: underline;
    }

    #countdowncell:active {
        font-weight: lighter;
    }
}

.myfooter {
    padding: 50px 0 20px 0;
    background-color: #35404f;
    color: #878c94;
}

.myfooter .title-widget {
    text-align: left;
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    line-height: 1;
    position: relative;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 25px;
    margin-left: 0;
    padding-left: 28px;
}

.myfooter .title-widget::before {
    background-color: #ea5644;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}

.myfooter .social-icon {
    padding: 0px;
    margin: 0px;
}

.myfooter .social-icon a {
    display: inline-block;
    color: #fff;
    font-size: 25px;
    padding: 5px;
}

.myfooter .acount-icon a {
    display: block;
    color: #fff;
    font-size: 18px;
    padding: 5px;
    text-decoration: none;
}

.myfooter .acount-icon .fa {
    margin-right: 25px;
}


.myfooter .category a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    margin: 1px;
    border-radius: 4px;
    margin-top: 6px;
    background-color: black;
    border: solid 1px #fff;
}

.myfooter ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}

.myfooter ul.social {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

.myfooter ul.social li {
    display: inline;
}

.myfooter .social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}

.myfooter .social a:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}

.myfooter .social a.icoYouTube:hover {
    background-color: #F56505;
}

.myfooter .social a.icoFacebook:hover {
    background-color: #3B5998;
}

.myfooter .social a.icoInstagram:hover {
    background-color: #33ccff;
}

.myfooter .social a.icoGoogle:hover {
    background-color: #BD3518;
}

.myfooter .social a.icoVimeo:hover {
    background-color: #0590B8;
}

.myfooter .social a.icoLinkedin:hover {
    background-color: #007bb7;
}

.myfooter .social a.icoRss:hover i,
.myfooter .social a.icoFacebook:hover i,
.myfooter .social a.icoTwitter:hover i,
.myfooter .social a.icoGoogle:hover i,
.myfooter .social a.icoVimeo:hover i,
.myfooter .social a.icoLinkedin:hover i {
    color: #fff;
}

a.myfooter .socialIcon:hover,
.myfooter .socialHoverClass {
    color: #44BCDD;
}

.myfooter .social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

.myfooter .social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.myfooter .social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.myfooter .social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

#creatorText {
    margin-left: 30%;
}

@media screen and (max-width: 1700px) {

    .post-it {
        width: 250px;
        height: 200px;
        position: relative;
        background: #636776;
        overflow: hidden;
        margin: 10px auto;
        text-align: left;
        padding: 20px;
        border-radius: 0 0 0 30px/45px;
        box-shadow: inset 0 -80px 60px rgba(0, 0, 0, 0.2),
        inset 0 55px 30px rgba(0, 0, 0, 0.2),
        0 5px 6px 5px rgba(0, 0, 0, 0.2);
        font-family: 'Permanent Marker', cursive;
        line-height: 1.5em;
        font-size: 19px;
        color: #D0D3DD;
    }
    @import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

    h1 {
        font-size: 25px;
        position: relative;
    }

    
    #input {
        width: 130px;
        height: 37px;
        margin-top: 8%;
        color: black;
        background-color: #D7D9DF;

    }

    #input2 {
        width: 130px;
        height: 37px;
        margin-top: 2%;
        color: black;
        background-color: #D7D9DF;

    }

    #blocksOfFooter span a i {
        margin-top: 1%;
        margin-right: -2%;
        text-align: center;

    }

    .block2FooterTextAfterFa {
        margin-top: -2%;
    }

}

@media screen and (max-width: 800px) {
    
    #taskManager {
        width: 100%;
        height: 90%;
    }

    .pannelLeft {
        position: relative;
        bottom: 1%;
        width: 80%;
        height: 43%;
        display: inline-block;
        border-radius: 10px;
        font-size: 15px;

    }
    .pannelRight {
        background: #C3C8CB;
        position: relative;
        top: 1%;
        bottom: 1%;
        margin-top: 2%;
        width: 80%;
        height: 100%;
        display: inline-block;
        border-radius: 5px;
        font-size: 15px;

    }
    
    #listTitle{
        font-size: 35px;
        font-weight: bold;
    }

    .text1 {
        font-size: 25px;
    }

    #left {
        width: 80%;
        text-align: center;
        margin-left: 10%;
        font-size: 10px;
    }

    #right {
        width: 95%;
        text-align: center;
        overflow: scroll;
        height: 100%;
        margin-top: 25%;

    }

    section {
        border-radius: 0.3em;
        display: inline-block;
        width: 90%;
        height: 30%;
        margin-top: 3%;
        box-shadow: 0.5px 0.5px 1px;
        position: relative;
        text-align: center;
    }
  
    #removeAllBtn{
        margin-left: -40px;
    }
    
     #contentFlex{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 900px;
    }
    
    #taskManager{
        display: flex;
        flex-direction: column;
    }

    @import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

    #navbarSupportedContent {
        margin-left: 35px;
    }

    .post-it {
        width: 230px;
        height: 200px;
        position: relative;
        background: #636776;
        overflow: hidden;
        margin: 30px auto;
        padding: 20px;
        border-radius: 0 0 0 30px/45px;
        box-shadow: inset 0 -80px 60px rgba(0, 0, 0, 0.2),
        inset 0 55px 30px rgba(0, 0, 0, 0.2),
        0 5px 6px 5px rgba(0, 0, 0, 0.2);
        font-family: 'Permanent Marker', cursive;
        line-height: 1.5em;
        font-size: 19px;
        color: #D0D3DD;
    }

    .post-it li {
        cursor: pointer;
    }

    .done {
        text-decoration: line-through;
    }

    h1 {
        font-size: 25px;
        position: relative;
    }

   
    #input {
        width: 130px;
        height: 37px;
        margin-top: 8%;
        color: black;
        background-color: #D7D9DF;

    }

    #input2 {
        width: 130px;
        height: 37px;
        margin-top: 2%;
        color: black;
        background-color: #D7D9DF;

    }

    #blocksOfFooter {
        margin-bottom: 3%;
    }



    .post-it {
        margin-left: 0%;
    }

    #addBlockForFooter {
        margin-left: -4%;
    }

}

#creatorText {
    margin-left: 35%;
}

.fa-2x {
    font-size: 2em;
}

.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
}

   
table {
  border-collapse: separate;
  background: #fff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 50px auto;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}



thead {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.headingRight{
    padding-left: 20%;
}

thead th {
  font-family: 'Patua One', cursive;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  text-align: left;
  padding: 10px;
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7ABEFA), color-stop(100%, #109EBF));
  background-image: -moz-linear-gradient(#7ABEFA, #4a5564);
  background-image: -webkit-linear-gradient(#7ABEFA, #4a5564);
  background-image: linear-gradient(#7ABEFA, #4a5564);
  border-top: 1px solid #7ABEFA;
}

thead th:first-child {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
}
thead th:last-child {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

tbody tr td {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 13px;
  padding: 20px 20px 20px 20px;
  border-bottom: 1px solid #e0e0e0;
}

tbody tr:nth-child(n) {
  background: #152F46;
}

tbody tr:last-child td {
  border-bottom: none;
}
tbody tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
tbody tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


tbody:hover > tr:hover td {
  text-shadow: none;
  background-color: #1D91F8;
  color: white;
  font-weight: bold;
  opacity: 1;
  font-size: 16px;
}



@media screen and (max-width: 1700px) {
    #footerBtnFlex{
        display: flex;
        flex-direction: row;
    }
    
    #searchBtn{
        width: 100px;
    }

    #removeAllBtn{
        width: 100px;
        margin-left: 3%;
    }
}

@media screen and (max-width: 1050px) {
    #footerBtnFlex{
        display: flex;
        flex-direction: column;
    }
    
    #removeAllBtn {
        margin-top: 5%;
    }
}

@media screen and (max-width: 600px) {
    #footerBtnFlex{
        display: flex;
        flex-direction: row;
    }
    
      #removeAllBtn {
        margin-top: 0%;
    }
}

#textAreaFooter{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
